# Build system
maturin>=1.4.0

# Testing
pytest
pytest-cov
pre-commit
black
flake8
autoflake
isort
mypy

# Jupyter
jupyter
jupyterlab
ipywidgets

# Related packages useful in jupyter notebooks
scipy
matplotlib

# Requirements
-r requirements.txt

# Type checking
pandas-stubs
